/* PIE DE PAGINA */

.pie-pagina {
  padding: 50px 0;
  color: #666;
  background: #fff;
}
  
.pie-pagina h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
  
.pie-pagina ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
}
  
.pie-pagina ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.9;
}
  
.pie-pagina ul a:hover {
  opacity: 0.6;
}
  
@media (max-width:767px) {
  .pie-pagina .item:not(.social) {
    padding-bottom: 20px;
    text-align: center;
  }
}
  
.pie-pagina .item.text {
  margin-bottom: 36px;
}
  
@media (max-width:767px) {
  .pie-pagina .item.text {
    margin-bottom: 0;
  }
}
  
.pie-pagina .item.text p {
  margin-bottom: 0;
  opacity: 0.9;
}
  
.pie-pagina .item.social {
  text-align: center;
}
  
@media (max-width:991px) {
  .pie-pagina .item.social {
    margin-top: 20px;
    text-align: center;
  }
}
  
.pie-pagina .item.social > a {
  display: inline-block;
  margin: 0 8px;
  width: 36px;
  height: 36px;
  color: inherit;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
  opacity: 0.75;
}
  
.pie-pagina .item.social > a:hover {
  opacity: 0.9;
}
  
.pie-pagina .copyright {
  margin-bottom: 0;
  padding-top: 24px;
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
}
  