
<footer class="pie-pagina">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 item">
 <!--
                <h3>Mapa del sitio</h3>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/error-404">¿Quienes somos?</a></li>
                    <li><a routerLink="/login">Iniciar sesión</a></li>
                    <li><a routerLink="/registrar">Registrarse</a></li>
                </ul>
-->
            </div>
            <div class="col-sm-6 col-md-6 item">
                <h3>Acerca de</h3>
                <ul>
                    <li style="display:inline;margin: 0 10px 0 0;"><a routerLink="/Ayuda">Ayuda</a></li>
                    <li style="display:inline;margin: 0 10px 0 0;"><a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-target="#exampleModal">Términos y condiciones</a></li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-3 item text">
<!--
                <h3>¿Qué es Yaguareté?</h3>
                <p>Yaguareté es una entidad que ofrece servicios de pago y no está autorizado por el Banco Central de la República Argentina a operar como entidad financiera.</p>
-->
            </div>

        </div>
        <p class="copyright">Brahian Villalba © 2021</p>
    </div>
</footer>

<app-terminos></app-terminos>