/* MENU DE NAVEGACION */

.navbar-default {
  padding: 5px 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  z-index: 100;
}
  
.navbar-default .navbar-brand {
  display: flex;
  align-items: center;
}
  
.navbar-default .navbar-brand img {
  height: 50px;
  padding: 0 8px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
  
@media (max-width: 767px) {
  .navbar-default .navbar-brand img {
    height: 30px !important;
  }
}
  
.navbar-default .navbar-brand h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
  
@media (max-width: 767px) {
  .navbar-default .navbar-brand h3 {
    font-size: 16px !important;
  }
}
  
.navbar-default.sticky {
  position: fixed;
  padding: 0 16px;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,0.9);
}
  
@media (max-width: 767px) {
  .navbar-default.sticky {
    background: #fff;
  }
}
  
.navbar-default.sticky .navbar-brand img {
  height: 50px;
}
  
.navbar-default.sticky .navbar-brand h3 {
  font-size: 16px;
}
  
.navbar-default .nav-item {
  position: relative;
  margin-left: 0;
  padding: 8px 0 8px 25px;
}
  
.navbar-default .nav-item .nav-link {
  position: relative;
  padding: 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}
  
.navbar-default .nav-item .nav-link:hover, .navbar-default .nav-item .nav-link:focus, .navbar-default .nav-item .nav-link.active {
  color: #999;
}
  
.navbar-default .dropdown .dropdown-menu {
  margin: 0;
  padding: 0;
  background: #fff;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 4px;
}
  
@media (max-width: 767px) {
  .navbar-default .dropdown .dropdown-menu {
    border: none;
    border-radius: 0;
  }
}
  
.navbar-default .dropdown .dropdown-menu .dropdown-item {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 220px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
  
.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #999;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
  
/* HAMBURGER NAVBAR */
  
.navbar-toggler {
  position: relative;
  border: none;
}
  
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0;
}
 
.navbar-toggler span {
  display: block;
  background: #333;
  height: 3px;
  width: 24px;
  margin: 4px 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  /*left: 0;*/
  opacity: 1;
}
  
.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}
  
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  right: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}
  
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background: transparent;
}
  
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  right: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}