<nav class="navbar navbar-light navbar-expand-lg navbar-default">
    <div class="container">
        <a class="navbar-brand" href="#" routerLink="/Dash"><img class="img-fluid logo"  src="assets/img/logo.png"></a>
        <button data-bs-toggle="collapse" class="navbar-toggler collapsed" data-bs-target="#mnu-sitio">
            <span></span><span></span><span></span>
        </button>
        <div class="collapse navbar-collapse" id="mnu-sitio">
            <ul class="navbar-nav ms-auto">
                
 <!--              <li class="nav-item"><a class="nav-link" href="#"routerLink="">Salir</a></li>-->
                <li class="nav-item"><a class="nav-link" href="#"routerLink="/Ayuda">Ayuda</a></li>
                
            </ul>
        </div>
    </div>
</nav>
