
<app-navbar></app-navbar>

<div class="card-body ">
  <div class="container">
  <div class="row">

<div class="col-12 text-center"><h1>¿Como podemos ayudarte?</h1></div>


<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">Problemas con crear una cuenta.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">Problemas para recuperar mi contraseña.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">¿Como hago para transferir dinero?.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">¿Como hago para comprar cryptomonedas?.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">¿Como saber que mi dinero esta seguro?.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">¿Como hago para saber mis ultimos movimientos?.</a>
  </div>
</div>
<div class="card resaltar">
  <div class="card-body">
    <img src="https://img.icons8.com/color/48/000000/help--v1.png"/><a href="#" class="stretched-link">¿Como edito mi perfil?.</a>
  </div>
</div>
<!--formulario-->
<div class="col-12 text-center"><h3>Contacto servicio técnico</h3></div>
<div class="col-12 text-center"><p>En caso de no encontrar solución, déjanos tus datos y nos comunicaremos con vos.</p></div>
<div class="card">
  <div class="card-body">
   
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4"placeholder="email@gmail.com">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Usuario</label>
        <input type="password" class="form-control" id="inputPassword4"placeholder="@user">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="">
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Caracteristica</label>
        <input type="text" class="form-control" id="inputZip" placeholder="ej: 3751">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Numero</label>
        <input type="text" class="form-control" id="inputCity" placeholder="15">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Compañia</label>
        <select id="inputState" class="form-select">
          <option selected>Claro</option>
          <option selected>Personal</option>
          <option selected>Movistar</option>
          <option selected>Tuenti</option>
          <option selected>otro</option>

        </select>
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Breve descripcion del problema"></textarea>
      </div>
      
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            He verificado la información ingresada y es CORRECTA.
          </label>
        </div>
      </div>
      <div class="col-12">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Enviar
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ayuda Yaguarete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tu reclamo fue enviado, en la brevedad seras contactado por unos de nuestros técnicos para resolver tu problema.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
      </div>
    </form>

  </div>
</div>
</div>
</div>
</div>
