*{
    
        
    padding: 10px;
   
 
};
.resaltar{
    flex-grow: 1;
    display: flex;
flex-wrap: wrap;
justify-content: center;
}

.resaltar:hover{
    
    box-shadow: 0px 0px 10px #00000093;
    cursor:pointer;
}
