<app-navbar-dash></app-navbar-dash>
<div class="row dividor ">
    <div class="col-md-3">

    </div>
    <!-- <div class="col-md-6">
      <div class="card fondo">
        <div class="card-body ">
                <div class="container">
                <div class="row">
                  <div class="col-2  ">
                    <img class="imagen" src="assets\img\trans_peso_Blanco_Fondo_2.png">
                  </div>
                 
                  <div class="col-md-10  text-center alig-items-center  titulo">
                      
                    <h2>Cuenta en pesos</h2>
                  </div>
                </div>
            

                  
                
            
          <h3 class="card-text text-center">Saldo actual.</h3>
         <div class="container">
          
            <div class="row   ">
                <div class=" col-3 simbolo   ">
                    <h3>$ :</h3>
                  </div>
                 
                  <div class="col-6  alig-items-center bloque">
                    <h3>10.250</h3>

                  </div>
                  <div class="col-3  alig-items-center ">
                    
                  </div>
              </div>
            </div>
        

            <div class="container alig-items-center botones">
               
                <div class="row  ">
                    
                    <div class=" col-md-4  ">
                        <img src="assets\img\peso1.png">
                        <h5 class="espacioletra1">  Ingresar</h5>
                      </div>
                      
                     
                      <div class=" col-md-4    ">
                      <img src="assets\img\peso2.png">
                      <h5 class="espacioletra">Extraer</h5>
                      </div>

                      <div class=" col-md-4    ">
                        <img src="assets\img\peso3.png">
                        <h5 class="espacioletra">Transferir</h5>
                        </div>

                      

                     
                  </div>
                </div>
            -->
<!-- 
                </div> 

                

                
          
        </div>
      </div>
    </div> -->
    <!--Siguinete boton BITCOIN-->

    <div class="col-md-6 ">
        <div class="card fondo">
          <div class="card-body ">
                  <div class="container">
                  <div class="row">
                    <div class="col-2  ">
                      <img class="imagen" src="assets\img\bitcoin.png">
                    </div>
                   
                    <div class="col-md-8  text-center alig-items-center  titulo">
                        
                      <h2>Cuenta Bitcoin</h2>
                    </div>
                  </div>
              
  
                    
                  
              
            <h3 class="card-text text-center">Saldo actual.</h3>
           <div class="container">
            
              <div class="row   ">
                  <div class=" col-3 simbolo   ">
                      <h3>BTC :</h3>
                    </div>
                   
                    <div class="col-6  alig-items-center bloque">
                      <h3>10.250</h3>
  
                    </div>
                    <div class="col-3  alig-items-center ">
                      
                    </div>
                </div>
              </div>
          
              <div class="container alig-items-center botones">
               
                <div class="row  ">
                    <div class=" col-md-1  ">
                        
                       
                    </div>
                    <div class=" col-md-4  ">
                        <img src="assets\img\bitcoin1.png">
                        <h5 class="espacioletra1">  Comprar</h5>
                      </div>
                      <div class=" col-md-2  ">
                        
                       
                        </div>
                     
                      <div class=" col-md-4    ">
                      <img src="assets\img\bitcoin2.png">
                      <h5 class="espacioletra">Vender</h5>
                      </div>

                      

                     
                  </div>
                </div>

                  </div> 

                  

                  
            
          </div>
        </div>
      </div>
</div>




<!--Segunda fila-->

<div class="row dividor">
    <div class="col-md-6">
        <div class="card fondo1">
          <div class="card-body ">
                  <div class="container">
                  <div class="row">
                    <div class="col-2  ">
                      <img class="imagen" src="assets\img\eth.png">
                    </div>
                   
                    <div class="col-md-8  text-center alig-items-center  titulo">
                        
                      <h2>Cuenta Ether</h2>
                    </div>
                  </div>
              
  
                    
                  
              
            <h3 class="card-text text-center">Saldo actual.</h3>
           <div class="container">
            
              <div class="row   ">
                  <div class=" col-3 simbolo   ">
                      <h3>ETH :</h3>
                    </div>
                   
                    <div class="col-6  alig-items-center bloque">
                      <h3>10.250</h3>
  
                    </div>
                    <div class="col-3  alig-items-center ">
                      
                    </div>
                </div>
              </div>
          
              <div class="container alig-items-center botones">
               
                <div class="row  ">
                    <div class=" col-md-1  ">
                        
                       
                    </div>
                    <div class=" col-md-4  ">
                        <img src="assets\img\eth1.png">
                        <h5 class="espacioletra1">  Comprar</h5>
                      </div>
                      <div class=" col-md-2  ">
                        
                       
                        </div>
                     
                      <div class=" col-md-4    ">
                      <img src="assets\img\eth2.png">
                      <h5 class="espacioletra">Vender</h5>
                      </div>

                      

                     
                  </div>
                </div>

                  </div> 

                  

                  
            
          </div>
        </div>
      </div>

    <!--boton 2-->
    <div class="col-md-6">
        <div class="card fondo1">
          <div class="card-body ">
                  <div class="container">
                  <div class="row">
                    <div class="col-2  ">
                      <img class="imagen" src="assets\img\dash.png">
                    </div>
                   
                    <div class="col-md-8  text-center alig-items-center  titulo">
                        
                      <h2>Cuenta Dash</h2>
                    </div>
                  </div>
              
  
                    
                  
              
            <h3 class="card-text text-center">Saldo actual.</h3>
           <div class="container">
            
              <div class="row   ">
                  <div class=" col-3 simbolo   ">
                      <h3>DSH :</h3>
                    </div>
                   
                    <div class="col-6  alig-items-center bloque">
                      <h3>10.250</h3>
  
                    </div>
                    <div class="col-3  alig-items-center ">
                      
                    </div>
                </div>
              </div>
          
              <div class="container alig-items-center botones">
               
                    <div class="row  ">
                        <div class=" col-md-1  ">
                            
                           
                        </div>
                        <div class=" col-md-4  ">
                            <img src="assets\img\dash1.png">
                            <h5 class="espacioletra1">  Comprar</h5>
                          </div>
                          <div class=" col-md-2  ">
                            
                           
                            </div>
                         
                          <div class=" col-md-4    ">
                          <img src="assets\img\dash2.png">
                          <h5 class="espacioletra">Vender</h5>
                          </div>

                          
    
                         
                      </div>
                    </div>
  
            
                  <!-- <div class="row   ">
                      <div class=" col-6   ">
                          <img src="assets\img\dash1.png">
                        </div>
                       
                        <div class=" col-6    ">
                          <img src="assets\img\dash2.png">
                        </div>
  
                       
                    </div>
                  </div>

                  <div class="container  espaciocrypto">
            
                      <div class="row   ">
                          <div class=" col-6  ">
                              <h5>Comprar</h5>
                            </div>
                           
                            <div class=" col-6 " >
                              <h5>Vender</h5>
                            </div>
      
                           
                        </div>
                      </div>

                  </div>  -->

                  

                  
            
          </div>
        </div>
      </div>
    
</div>

<app-footer></app-footer>