html {
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #333;
  font: 400 16px 'Open Sans', sans-serif;
  line-height: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden;
}
  
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
}
  
a {
  color: #333;
  text-decoration: none;
}
  
a:hover, a:focus, a:active {
  color: #777;
  outline: none;
  text-decoration: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
  
input, input.form-control, select, select.form-control {
  border-color: #c4c4c4;
  border-radius: 0;
}
  
input:focus, input.form-control:focus, input:active, input.form-control:active, select:focus, select.form-control:focus, select:active, select.form-control:active {
  border-color: #1f89e5;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
  
.btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.btn:hover, .btn:active, .btn:focus {
  color: #fff;
  box-shadow: none !important;
  opacity: 0.7;
}

.bg-blue {
  background: #3498db !important;
}

/* SECCION TITULO */

.seccion-titulo {
  padding-bottom: 30px;
  text-align: center;
}

.seccion-titulo h2 {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}