/* PAGINA ERROR */

#pagina-error {
  position: relative;
  height: 100vh;
}
 
#pagina-error .pagina-error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
  
.pagina-error {
  padding: 0 15px;
  width: 100%;
  max-width: 920px;
  text-align: center;
  line-height: 1.4;
}
  
.pagina-error .pagina-error-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
  
.pagina-error .pagina-error-404 h1 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: #ddd;
  font-size: 276px;
  font-weight: 900;
  transform: translate(-50%,-50%);
}

@media (max-width:480px) {
  .pagina-error .pagina-error-404 h1 {
    font-size: 162px;
  }
}
  
.pagina-error h2 {
  margin: 0;
  color: #333;
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width:480px) {
  .pagina-error h2 {
    font-size: 26px;
  }
}
  
.pagina-error p {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
  
.pagina-error .btn-atras {
  display: inline-block;
  padding: 12px 30px;
  background: #3498db;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: .2s all;
}