<app-navbar></app-navbar>
<section id="banner" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h2>Somos Yaguareté</h2>
                <h2>Una billetera virtual con presencia en toda la Argentina, contamos con servicio de transferencia de 
                    dinero y compra/venta de criptomonedas.</h2>
                <h2>No estamos autorizados por el Banco Central de la República Argentina a operar como entidad financiera.</h2>
 <!--
                <div class="d-lg-flex">
                    <a class="btn-registrarse" routerLink="/registrar">Regístrate</a>
                </div>
-->
            </div>
            <div class="col-lg-6 order-1 order-lg-2 banner-img">
                <img class="img-fluid" src="assets/img/banner-img.svg">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>